<div class="page-header text-center">
  <h1>My Home Sensor
    <small>by William</small>
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-{{12 / location.initData.length}}" ng-repeat="location in locations track by $index">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>{{::location.name}}</h2>

          <div ng-repeat="(key, value) in location.sensors track by $index">
            <h3 class="text-capitalize">{{::key}}</h3>
            <br/>
            <progressbar class="progress-striped active" value="value.value" type="{{value.type}}">
              {{value.value}} %
            </progressbar>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-{{12 / location.initData.length}}">
              <mw-chart ng-if="location.initData.length" current-item="currentItem" data="location.initData" options="{
                      location: {{location._id}},
                      locationName: '{{location.name}}'
                    }" style="display: block;"></mw-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
